<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/styles.css")
		link(rel='shortcut icon', type='image/png', href='/favicon.png')
		//-xlink(rel='shortcut icon', type='image/png', href='http://eg.com/favicon.png')
		//-script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="js/jquery-1.12.0.min.js")
		script(src="js/scripts.js")
		title Combina2
	body
		#preloader
			#loader
		.menu_bar
			a.bt-menu(href='#')
				span
					img(src="img/menu.png")
				| Menu
		nav
			ul
				li
					a(href='index.html') Inicio
				li
					a(href='combinaciones.html') Combinaciones
				li
					a(href='premios.html') Premios
				li
					a(href='#') Bases
				li
					a(href='ganadores.html') Ganadores
				li
					a(href='contacto.html') Contacto
		.header
			.ed-container.total
				.ed-item.base-100.web-100.hd-100
					.logo-rekkit
						img(src="img/logo-rekkit.png")
					.logo-rekkitW
						img(src="img/logo-rekkit.png")
					.torres
						img(src="img/torres.png")
					.birds
						img(src="img/birds.png", alt="")
					.palmera
						img(src="img/palmera.png")
					a.logo(href="index.html") 
						img(src="img/logo.png")
					.avion-left
						img(src="img/avion-left.png")
					.avion-right
						img(src="img/avion-right.png")
					//-silla y tango
						.silla
							img(src="img/silla.png", alt="")
						.tango
							img(src="img/tango.png", alt="")
				.sp-slideshow
					input#button-1.sp-selector-1(type='radio', name='radio-set', checked='checked')
					label.button-label-1(for='button-1')
					input#button-2.sp-selector-2(type='radio', name='radio-set')
					label.button-label-2(for='button-2')
					input#button-3.sp-selector-3(type='radio', name='radio-set')
					label.button-label-3(for='button-3')
					//-input#button-4.sp-selector-4(type='radio', name='radio-set')
					//-label.button-label-4(for='button-4')
					//-input#button-5.sp-selector-5(type='radio', name='radio-set')
					//-label.button-label-5(for='button-5')
					label.sp-arrow.sp-a1(for='button-1')
					label.sp-arrow.sp-a2(for='button-2')
					label.sp-arrow.sp-a3(for='button-3')
					//-label.sp-arrow.sp-a4(for='button-4')
					//-label.sp-arrow.sp-a5(for='button-5')
					.sp-content
						.sp-parallax-bg
						ul.sp-slider.clearfix
							li
								img(src='img/premio-caribe.png', alt='Caribe')
							li
								img(src='img/premio-bs.png', alt='Buenos Aires')
							li
								img(src='img/premio-chile.png', alt='viaje por chile')
							//- li
							//- 	img(src='images/image4.png', alt='image04')
							//- li
							//- 	img(src='images/image5.png', alt='image05')
				section.viajesM.no-padding
					.ed-container.total
						.ed-item.base-100
							h1.gana Ganas tú, gano yo... <span>Ganamos los 2</span>
							.line

								.viaje1
									img(src="img/viaje_rio.png", alt="")
									.recorrido
										img(src="img/line.png")
								.viaje2
									img(src="img/viaje_bs.png", alt="")
								.recorrido2
									img(src="img/line2.png")
								.viaje3
									img(src="img/viaje_chile.png", alt="")
									.recorrido3
										img(src="img/line2.png")
									.recorrido4
										img(src="img/line.png")


		footer
			.ed-container.total
				.ed-item.base-50.no-padding.web-50.no-padding
					.adelco
						img(src="img/logo-adelco.png")
				.ed-item.base-50.no-padding.web-50.no-padding
					.otros-logos
						img(src="img/otros-logos.png")
		script.
			$(window).load(function() {
			$('#preloader').fadeOut('slow');
			$('body').css({'overflow':'visible'});
			});
